body{
    height: auto;
    min-height: 100vh;
    
}
.container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px auto auto;
    grid-template-areas:
            "box-1 box-1"
            "box-2 box-3"
            "box-4 box-5";
}
@media (min-width: 768px) {
    .container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px auto auto;
            grid-template-areas:
                "box-1 box-1"
                "box-2 box-3"
                "box-4 box-5";
        }
}
@media (min-width: 1024px){
    .container {
            background: transparent;
            display: grid;
            grid-auto-columns: clamp(140px, 20vw, 300px);
            grid-template-rows: clamp(100px, 14vw, 200px) clamp(100px, 14vw, 200px) clamp(80px, 11vw, 160px);
            grid-template-areas:
                "box-1 box-1 box-2"
                "box-3 box-4 box-2"
                "box-3 box-4 box-5";
            gap: clamp(0.4rem, 1vw, 1rem);
            border-radius: 2em;
        }
}